<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amoeba.name %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @amoeba.generation %>
</p>

<p>
  <strong>Talent:</strong>
  <%= @amoeba.talent_name %>
</p>

<%= form_tag split_amoeba_path(@amoeba) do %>
  <%= submit_tag 'Split' %>
<% end %>

<%= link_to 'Edit', edit_amoeba_path(@amoeba) %> |
<%= link_to 'Back', amoebas_path %>
